# Supabase
NEXT_PUBLIC_SUPABASE_URL=itrdkdpdgpmmablnholn
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0cmRrZHBkZ3BtbWFibG5ob2xuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMwMDI2NjcsImV4cCI6MjA4ODU3ODY2N30.sl5VHF5u9Ntpd74vGlA6P-SWfWa1ufKm59rNDHPShBw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0cmRrZHBkZ3BtbWFibG5ob2xuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzAwMjY2NywiZXhwIjoyMDg4NTc4NjY3fQ.W-rY7o7nrd0b5OLdLI5SgkwslSAeQiZgRqP6Kl7_UhE

# Scraper (Browserless.io)
BROWSERLESS_API_KEY=2U73FGxQ9cBwpFf55174b914d1725cef0d23e8a2d7ef4b6eb
BROWSERLESS_WS_URL=wss://chrome.browserless.io?token=

# Vercel Cron Secret
CRON_SECRET=

# Target Dealer
TARGET_DEALER_URL=https://www.woodbinegm.com/vehicles/used/?st=make,asc&view=grid&sc=used
